body{
	font-family: Arial,Helvetical;
	padding: 0;
	margin: 0;
	background-color: #B99F9F;
}

.container{
	display: flex;
	margin: auto;
	overflow: hidden;
	align-items: center;
    justify-content: center;
}
ul{
	padding:0;
	margin:0;

}

	.button_1{
		height: 38px;
		background: #e8491d;
		border: 0;
		padding-left: 20px;
		padding-right: 20px;
		color: #ffffff;

}
header{
	background-color: #35424a;
	color: #ffffff;
	padding-top:30px;
	min-height: 70px;
	border-bottom:#E90000 3px solid;
}
header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;

}



.navbar{
	float: left;
}

.navbar li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}
 #branding{
float: left;
}
 #branding h1{
	margin: 0;
	float: left;
}


header .highlight, header .current a{
	color: #e8491d;
	font-weight: bold;
}

header a: hover{
	color: #cccccc;
	font-weight: bold;
}

#showcase{
	min-height: 400px;
	background: url(./img/img4.jpg) no-repeat center;
	text-align: center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#showcase p{
		color: #f505d7;
		font-size: 20px;
	}
	#showcase h1{
		margin-top: 100px;
		font-size: 55px;
		margin-bottom: 10px;
		color: #f90813fa;

	}
	#newsletter{
		align-items: center;
		display: flex;
		
		padding: 15px;
		color: #ffffff;
		background: #35424a; 
	}
	
	#newsletter h1{
		float: left;
		padding: 10px;

	}

	#newsletter form{
		float: right;
		margin-top: 15px;
	}

	#newsletter input[type="email"]{
		padding: 4px;
		height: 25px;
		width: 250px;
	}

	#boxes{
		margin-top: 20px;

	}

	 #boxes .box{
	 	float: left;
	 	width: 30%;
		padding: 10px;
		text-align: center;
	 }

	 #boxes .box img{
	 	width: 150px;
	 }

	  
	 #sidebar{
	 	float: right;
	 	width: 30%;
	 	margin-top: 10px;
	 }

	 	#sidebar h1{
	 text-align: center;
	 }

	 article#main-col{
	 	float: left;
	 	width: 65%;
	 	padding: 10px;
	 }

	 footer{
	 	padding: 20px;
	 	margin-top: 20px;
	 	color: #ffffff;
	 	background-color: #e8491d;
	 	text-align: center;
	}